body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app{
  display: flex;
  justify-content: flex-start;
}
.imageContainer{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.images{
  padding: 2rem;
  max-width: 20rem;
  max-height: 20rem;
}

.search{
  display: flex;
  align-items: center;
  justify-content: center;
}